@import 'variables';
@import 'spacers';

body {
  padding: 0;
  margin: 0;
}

.online-indicate {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ff88;
  position: absolute;
  right: 3px;
  top: 3px;

  &.off {
    background: #c4c4c4;
  }
}

.flex-spacer {
  flex-grow: 1 !important;
}

.btn {
  font-size: 12px;
  border: none;
  height: 35px;
  border-radius: 18px;
  background: linear-gradient(to right, #00a1ff, #0066ff);
  color: #fff;
  padding: 0 15px;
  cursor: pointer;
  outline: none;
  transition: .3s;

  &:hover {
    background: linear-gradient(to right, #00a1ff, #00a1ff);
  }

  &:active {
    background: linear-gradient(to right, #0e6efd, #0066ff);
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(0, 102, 255, 0.4);
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.a-100 {
  width: 100% !important;
  height: 100% !important;
}
